html {
    height: 100%;
    background: black;
    color: white;
}
a { 
    color:white; 
}
pre {
    font: 16px "blockfont", 'Courier New', sans-serif;
    -webkit-font-smoothing : none;
    font-smooth: never;
    color: #eeeeee;
}
#content {
    position: absolute;
}
.container {
    min-height: 85vh;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
}