html {
    height: 100%;
    background: black;
    color: white;
}
#content {
    position: absolute;
}
.green {
    color: #009900;
}
.red {
    color: #990000;
}
.title {
    transform: rotate(180deg);
    font-size: 100px;
    color: #FCFCFC; 
    font-family: Montserrat;
    font-weight: 800;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    transition: all 0.12s ease-out;
    animation-duration: 3s;
    animation-name: title;
    text-shadow: 1px 1px #D7263D, 2px 2px #D7263D, 3px 3px #D7263D, 4px 4px #D7263D, 5px 5px #D7263D, 6px 6px #D7263D;
  }
  
  .title2 {
    
    font-size: 100px;
    color: #FCFCFC; 
    font-family: Montserrat;
    font-weight: 800;
    margin: 0;
      writing-mode: vertical-lr;
    text-align: center;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
    animation-duration: 3s;
    animation-name: title;
    text-shadow: -1px -1px #D7263D, -2px -2px #D7263D, -3px -3px #D7263D, -4px -4px #D7263D, -5px -5px #D7263D, -6px -6px #D7263D;
  }
  